.content-style {
    padding: 15px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 12px 0;
    text-align: center;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.navbar-brand {
    float: right;
    height: 50px;
    padding: 0px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-header {
    padding-top: 10px;
    float: none;
    text-align: center;
    font-size: 24px;
}

.navbar-nav {
    float: left;
    height: 50px;
    padding: 0px;
    font-size: 18px;
    line-height: 20px;
}
/* reset button */
.button-wrapper {
    text-align: center;
}

.reset-button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.9;
    margin: 12.5px 0;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.reset-button a {
    text-decoration: none;
    padding-top: 15px;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #4169e1;
}

/*charts */
.dc-chart g.row text {
    fill: black;
}

.dc-chart text.pie-slice {
    fill: black;
}

.dc-chart {
    float: left;
    width: 100%;
}


/* sets minimum width of screen */
@media (min-width: 576px){
  .height-alignment{
    display: flex;
  }
}
